 h1{
	font-style: bold;
	color: red;
	text-align: center;
}

@media (min-width: 992px){
.outerclass{
	width: 31%;
	}

.outerclass3{
	width: 31%;
	}

}

@media (min-width: 768px) and (max-width: 991px){
.outerclass{
		width: 47%;

	}

.outerclass3{
	width: 97%;
}

}

@media (max-width: 767px){
.outerclass{
		width: 98%;
	}
.outerclass3{	
	width: 98%;
	}
}

.outerclass{
	background-color: grey;
	border:1px solid black;
	margin: 1%;
		float: left;
	height: 20%;
	position: relative;
}

.outerclass3{
	background-color: grey;
	border:1px solid black;
	margin: 1%;
	float: left;
	height: 20%;
	position: relative;
}

.sideclass{
	float: right;
	border: 1px solid black;
	padding:4px;
	position: absolute;
	top:0;
	right: 0;
	margin-bottom: 5px;
	background-color: pink;
}

.textclass{
	margin-top: 28px;
}


.beefclass{
	background-color: red;
}

.sushiclass{
background-color: yellow;
}
}

