h1{
	font-style: bold;
	color: red;
	text-align: center;
}

@media (min-width: 992px){
.outerclass{
	background-color: grey;
	width: 30%;
	border:2px solid black;
	margin: 2px;
	padding: 10px;
	float: left;
	height: 10%;
	position: relative;
}

.outerclass3{
	background-color: grey;
	width: 30%;
	border:2px solid black;
	margin: 2px;
	padding: 10px;
	float: left;
	height: 10%;
	position: relative;
}

.sideclass{
	float: right;
	border: 1px solid black;
	position: absolute;
	top:0;
	right: 0;
	margin-bottom: 5px;
	background-color: pink;
}

.textclass{
	margin-top: 10px;
}


.beefclass{
	background-color: red;
}

.sushiclass{
background-color: yellow;
}
}







@media (min-width: 768px) and (max-width: 991px){
.outerclass{
	background-color: grey;
	width: 45%;
	border:2px solid black;
	margin: 2px;
	padding: 10px;
	float: left;
	height: 10%;
	position: relative;
}

.outerclass3{
	background-color: grey;
	width: 94%;
	border:2px solid black;
	margin: 2px;
	padding: 10px;
	float: left;
	height: 10%;
	position: relative;
}

.sideclass{
	float: right;
	border: 1px solid black;
	position: absolute;
	top:0;
	right: 0;
	margin-bottom: 5px;
	background-color: pink;
}

.textclass{
	margin-top: 10px;
}


.beefclass{
	background-color: red;
}

.sushiclass{
background-color: yellow;
}
}






@media (max-width: 767px){
.outerclass{
	background-color: grey;
	width: 94%;
	border:2px solid black;
	margin: 2px;
	padding: 10px;
	float: left;
	height: 10%;
	position: relative;
}

.outerclass3{
	background-color: grey;
	width: 94%;
	border:2px solid black;
	margin: 2px;
	padding: 10px;
	float: left;
	height: 10%;
	position: relative;
}

.sideclass{
	float: right;
	border: 1px solid black;
	position: absolute;
	top:0;
	right: 0;
	margin-bottom: 5px;
	background-color: pink;
}

.textclass{
	margin-top: 10px;
}


.beefclass{
	background-color: red;
}

.sushiclass{
background-color: yellow;
}
}
