#main-logo{
	height:	120px;
}

#header-nav{
  background-color: #36b1c3;
  border-radius: 0;
  border: 0;
  /*width:100%;
  position: fixed;*/
 // height: 80px;*/
  margin-top: 0px;
  text-align: left;
  }

  #brand{
  	font-size: 2.5em;
  }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
  /*margin-bottom: 0px;*/
}

#nav-list a {
  color: #FFFFFF;
 background-color: grey;
 margin-top: 1px;
}

#text{
	border: 2px;
	padding: 10px;
	margin-top:50px;
	background-color: #b7a1b4;
	font-size: 1.2em;
    color: #5a3bd8;
    box-sizing: border-box;
    float:center;
}

.menu-subheading{
	font-weight: bold;
	color:black;
}